@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body {
   font-family: "Fira Code", monospace;
   font-optical-sizing: auto;
   font-style: normal;
}

.blinking-cursor {
   display: inline-block;
   width: 1px;
   background-color: currentColor;
   animation: blink 1s step-end infinite;
}

@keyframes blink {
   from, to {
      visibility: hidden;
   }
   50% {
      visibility: visible;
   }
}